<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurateur</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>

    <div id="Restaurateur">
        <img src="images/Restaurateur.png" width="320px" height="119px">
    </div>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-half is-offset-one-third">
                <div class="restaurant">
                    {{{body}}}
                </div>
            </div>
           
        </div>
    </div>
</body>
</html>