<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>

  <div class="section">
    <div class="container restaurant">
      {{!-- need handlebars here to import member name from login/signup? --}}
      <h1 class="title">Welcome <span class="member-name"></span></h1>
      <div class="row">
        <div class="columns">
          <div class="column is-one-third">
          </div>
          <div class="column is-one-third restaurant">
            <form class=>
              <div class="form-group">
                <label for="exampleRestaurantName">Restaurant Name</label>
                <input type="text" class="form-control" id="restaurantName" placeholder="Restaurant Name">
              </div>
              <div class="form-group">
                <label for="examplePhoneNumber">Phone Number</label>
                <input type="number" class="form-control" id="phoneNumber" placeholder="Phone Number (no spaces)">
              </div>
              <div class="form-group">
                <label for="exampleAddress">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Full Address">
              </div>
              <div class="form-group">
                <label for="exampleHours">Hours</label>
                <input type="text" class="form-control" id="hours" placeholder="Daily Hours">
              </div>
              <button class="button brickRedButton" id="tequilabtn">Next</button>
            </form>
          </div>
        </div>
        <div class="column is-one-third">
        </div>
      </div>
    </div>
  </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./js/members.js"></script>

</body>

</html>