<div class="section">
  {{!-- <div class="container restaurant"> --}}
    {{!-- need handlebars here to import member name from login/signup? --}}
    <h1 class="title">Welcome <span class="member-name"></span></h1>
    {{!-- <div class="columns">
      <div class="column is-8 is-offset-2"> --}}
        <div class="modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="field">
              <label class="label is-medium" style="color:#CC3210">Restaurant Name</label>
              <div class="control">
                <input class="input" id="restaurantName">
              </div>
            </div>
            <div class="field">
              <label class="label is-medium" style="color:#CC3210">Phone Number</label>
              <div class="control">
                <input class="input" id="phoneNumber" placeholder="000-000-0000" type="tel"
                  pattern="^\d{4}-\d{3}-\d{4}$" required>
              </div>
            </div>
            <div class="field">
              <label class="label is-medium" style="color:#CC3210">Address</label>
              <div class="control">
                <input class="input" id="address">
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label is-medium" style="color:#CC3210">Hours</label>
              <div class="control">
                <input class="input" id="hours" placeholder>
              </div>
            </div>
            <button class="button brickRedButton" id="addRestaurantButton">Add Restaurant</button>
            <button class="button brickRedButton" id="closeModal">Cancel</button>
          </div>
        </div>
        <div id="myRestaurants">
          <button class="button brickRedButton" id="addRestaurant">Add A Business</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/members.js"></script>