<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/logout">
          Logout
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
        <span class="restaurantName"></span>
        <span class="phoneNumber"></span>
        <span class="address"></span>
        <span class="hours"></span>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleItemName">Item Name</label>
      <input type="text" class="form-control" id="itemName" placeholder="Item Name">
    </div>
    <div class="form-group">
      <label for="exampleItemDescription">Item Description</label>
      <input type="text" class="form-control" id="itemDescription" placeholder="Short Item Description">
    </div>
    <div class="form-group">
      <label for="exampleItemPrice">Item Price</label>
      <input type="text" class="form-control" id="itemPrice" placeholder="Item price">
    </div>

    <a class="button brickRedButton" id="tequilabtn">Submit Item</a>

  </div>
  <div class="menu">
 
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/menu.js"></script>
