form.signup,
form.login {
  margin-top: 50px;
}
body {
  height: 100vh;
  margin: 0;
  background-image: fixed;
  background-image: url("../images/storefront.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#Restaurateur{
  width:320px;
  margin: auto;
  text-align: center;   
  padding-top: 80px;
  position: static;
}
#indexButtons {
  max-width:320px;
  text-align: center;
  margin-top: 400px;
  margin: 0 auto;
  padding: 5px;
}
  
.brickRedButton {
  background-color:#CC3210;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  display: inline-block;
  margin: 10px 10px;
  padding: 5px 5px;
  width: 125px;
}
.smallbrick {
  background-color:#CC3210;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  display: block;
  margin: 5px 5px;
  padding: 5px 5px;
  display: inline-block;
  width: 60px;
}
.restaurant {
  background-color: white;
  opacity: 90%;
  border-radius: 25px;
  padding: 25px;
  margin: auto;
  max-width: 100%;
  position: relative;
  white-space: inherit;
 
 }  
 .form-group {
   color: #CC3210;
   font-weight: bold;
   margin: 1px;
 }
 .title {
   padding-left: 10px;
   padding-right: 10px;
 }
 .section {
   align-content: center;
   padding: 48px 20px 48px 23px;
 }
 #mainform {
   padding: 0 0 0 0;
 }
 .columns {
   margin: 0;
 }
 .container {
   align-content: center;
 }
 body {
   overflow-y:scroll;
 }
body :-webkit-scrollbar {
  display: none;
}