<<<<<<< HEAD
form.signup,
form.login {
  margin-top: 50px;
}

/* styles for index.html */
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-image: url("../images/storefront.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

#Restaurateur{
  width:320px;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}

#indexButtons {
  max-width:320px;
  text-align: center;
  margin-top: 400px;
  margin: 0 auto;
}
  

.brickRedButton {
  background-color:#CC3210;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  display: block;
  margin: 10px auto;
}



/* styles for login.html */
#formContainer{
  background-color: #FFFFFF;
  top: 300px;
  
}

.restaurant {
  background-color: white;
  opacity: 90%;
  border-radius: 25px;
  margin: 25px;
  max-width: 500px;
  position: relative;
  white-space: inherit;
 
 }  
 .form-group {
   color: #CC3210;
   font-weight: bold;
   margin: 1px;

 }
 .form-control {
  margin: 3px;
  
 }
 .title {
   padding-left: 10px;
   padding-right: 10px;
 }
 .section {
   align-content: center;
   padding: 48px 20px 48px 23px;
 }

 #mainform {
   padding: 0 0 0 0;

 }
 .columns {
   margin: 0;
 }
 .container {
   align-content: center;
=======
form.signup,
form.login {
  margin-top: 50px;
}

/* styles for index.html */
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-image: url("../images/storefront.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

#Restaurateur{
  width:320px;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}

#indexButtons {
  max-width:320px;
  text-align: center;
  margin-top: 400px;
  margin: 0 auto;
}
  

.brickRedButton {
  background-color:#CC3210;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  margin: 0 0 15px 15px;
  display: inline-block;
}



/* styles for login.html */
#formContainer{
  background-color: #FFFFFF;
  top: 300px;
  
}

.restaurant {
  background-color: white;
  opacity: 90%;
  border-radius: 25px;

 
 }  
 .form-group {
   color: #CC3210;
   font-weight: bold;

 }
 .section {
   align-items: center;
>>>>>>> 5e3196d3b03ddf98b1002fe42f562227e674ae5d
 }